.container {
  z-index: 1;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;

  @media screen and (max-width: 720px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
