.bubble {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  color: #f9fbff;
  font-size: 0.7em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
  background-color: whitesmoke;
  margin-left: 10px;
}

.ellipsis {
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: #cfebc0eb;
  border-radius: 50%;
  animation: bounce 1.3s linear infinite;
}

.one {
  animation-delay: 0.6s;
}
.two {
  animation-delay: 0.5s;
  margin-left: 2px;
}
.three {
  animation-delay: 0.8s;
  margin-left: 2px;
}

@keyframes bounce {
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}
