input {
  display: block;
  padding: 7.5px 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

input:focus {
  outline: 1px solid rgb(64, 196, 93);
}

.send-input {
  font-size: large;
  width: 87%;
  height: 35px;
  border: none;
  background-color: #f9fbff;
  border-color: #f9fbff;
  color: #87c779;
}

.send-input:focus {
  outline: none;
}
